@import "tailwindcss";

body {
  background: #eadfde;
  color: #4d1a0b;
  font-family: "Courier New", Courier, monospace;
}

.text_blue {
  color: #00638a;
}
.text_warm {
  color: #a34f36;
}
.text_heading {
  color: #4d1a0b;
}
.body_font {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.global_font {
  font-family: "EB Garamond", "EB Garamond Fallback";
}

.gift_font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.details_font {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav_btn {
  @apply p-1 px-3 font-bold;
}

.nav_btn-menu {
  @apply font-bold;
}

.photos {
  @apply w-80 rounded-2xl;
}

.flex_it {
  @apply flex flex-col items-center justify-center;
}
