@import "tailwindcss";

body {
  background: #eadfde;
  color: #00638a;
  font-family: "Courier New", Courier, monospace;
}

.body_font {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.gift_font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details_font {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav_btn {
  @apply p-1 px-3 font-bold;
}

.nav_btn-menu {
  @apply font-bold ;
}

.photos {
  @apply w-80 rounded-2xl;
}

.flex_it {
  @apply flex flex-col items-center justify-center;
}
